{% load static %}

<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>Python診断</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="{% static 'app/assets/favicon.ico' %}" />
</head>
<body>
  <a href="../q1/" class="btn-real-dent">
    <i class="fa fa-home">診断</i>
  </a>
  <a class="btn btn--orange btn--radius" href="../accounts/logout">Sign Out</a>
  <div class="container">
    <canvas id="marksChart"></canvas>
  </div>
  <link href="{% static 'app/css/chart.css' %}" rel="stylesheet" />
  <!-- CDN -->
　<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const data = JSON.parse('{{ result_response|safe }}')
    var marksCanvas = document.getElementById("marksChart");
    var marksData = {
      labels: ["Webアプリ開発", "アプリ開発", "AI", "機械学習", "データ分析"],
      datasets: [{
        label: "あなたの適性",
        backgroundColor: "rgba(200,0,0,0.3)",
        borderColor: 'rgba(200,0,0,0.4)',
        data: [data.result1, data.result2, data.result3, data.result4, data.result5]
      }],
    };
    var options = {
      scale: {
          ticks: {
              min: 0,
              max: 5,
              stepSize: 1,
          }
      }
    };

    var radarChart = new Chart(marksCanvas, {
      type: 'radar',
      data: marksData,
      option: options
    });
  </script>
</body>
</html>