{% load static %}

{% extends "./base.html" %}

<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>グラフ</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body style="background-color:#000033">
  <a class="btn btn--orange btn--radius" href="../start/login/">Sign Out</a>
  <link href="{% static 'app/css/question.css' %}" rel="stylesheet" />
  <main>
    <div class="container">
      <form action="{% url 'q5_post' %}" method="POST" class="post-form">
        {% csrf_token %}
        <div class="q"><input type="submit" name="button1" class="bt btn-border q_button" value="PUSH!"></div>
        <div class="q"><input type="submit" name="button2" class="bt btn-border q_button" value="PUSH!"></div>
        <div class="q"><input type="submit" name="button3" class="bt btn-border q_button" value="PUSH!"></div>
        <div class="q"><input type="submit" name="button4" class="bt btn-border q_button" value="PUSH!"></div>
        <div class="q"><input type="submit" name="button5" class="bt btn-border q_button" value="PUSH!"></div>
      </form>
    </div>
  </main>
</body>
</html>